<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hkxj.mapper.PostMapper">

	<!-- 发帖 -->
	<insert id="sendPost" parameterType="post">
		INSERT INTO forum_post(user_id,topic,content) values(#{user_id},#{topic},#{content})
	</insert>
	
	<!-- 删帖 -->
	<delete id="deletePost" parameterType="int">
		DELETE FROM forum_post WHERE post_id=#{post_id}
	</delete>
	
	<!-- 查帖子 -->
	<select id="findPostByPid" parameterType="int" resultType="post">
		SELECT * FROM forum_post WHERE post_id=#{post_id}
	</select>
	
	<!-- 所有帖子列表 -->
	<select id="findAllPost" resultType="post">
		SELECT * FROM forum_post ORDER BY post_time DESC
	</select>
	
	<!-- 浏览数加1 -->
	<update id="updateBrowsetimes" parameterType="int">
		UPDATE forum_post set browsetimes=browsetimes+1 where post_id=#{post_id}
	</update>
</mapper>